{{!--
{{#post}}
    {{#if access}}
        <div class="comment container small">
            Si vous voulez intégrer des commentaires, c'est le bon endroit !
        </div>
    {{/if}}
{{/post}}
--}}
