{{{html}}}

<section class="single-cta">
    {{#has visibility="paid"}}
        <h2 class="single-cta-title">Cet article est réservé aux abonnés clients</h2>
    {{/has}}
    {{#has visibility="members"}}
        <h2 class="single-cta-title">Cet article est réservé aux abonnés</h2>
    {{/has}}
    {{#has visibility="filter"}}
        <h2 class="single-cta-title">Cet article est réservé aux abonnés clients du produit {{products}}</h2>
    {{/has}}
    {{#if @member}}
        <button class="button single-cta-button" data-portal="account/plans">Monter en niveau</button>
    {{else}}
        <button class="button single-cta-button" data-portal="signup">Inscription</button>
        <br>
        <button class="button-text single-cta-footer" data-portal="signin">Vous avez déjà un compte ? Connectez-vous</button>
    {{/if}}
</section>
